<!-- <div class="filter-container"> -->
    <!-- Category Filter -->
    <!-- <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onFilterChange()">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  
    <!-- In-Stock Filter -->
    <!-- <mat-checkbox [(ngModel)]="inStock" (change)="onFilterChange()">In Stock</mat-checkbox> -->
  
    <!-- Price Filter (Optional) -->
    <!-- <div class="price-range">
      <mat-label>Price Range</mat-label>
      <input type="range" min="0" max="500" [(ngModel)]="priceRange" (input)="onFilterChange()" />
      <span>{{ priceRange | currency }}</span>
    </div>
  </div> -->
  